[Unit]
Description=Clock Chimes Suspend service
Documentation=man:"clock_chimes.sh -h"
Documentation=https://www.anotherguywithacomputer.com/clock_chimes/documentation
After=suspend.target
Wants=time-sync.target
After=time-sync.target

[Service]
Type=oneshot
ExecStart=/home/user/bin/clock_chimes.sh -n 0 -l /home/user/.config/chimes/clock_chimes.config

[Install]
WantedBy=suspend.target
